# 루프문 작성(타워킬-챔피언 데미지)

In [1]:
import requests
from urllib import parse
import pprint
import pandas as pd
pp = pprint.PrettyPrinter(indent=4)
import time

In [2]:
api_key = 'RGAPI-a7329079-1c0d-4021-811a-c57545ff700b'

matchid 100개 샘플

In [3]:
matchids = [
    "KR_6965278983",
    "KR_6961163006",
    "KR_6990258458",
    "KR_6991192961",
    "KR_6987828402",
    "KR_6985798489",
    "KR_6948539783",
    "KR_6973961121",
    "KR_6957839106",
    "KR_6829343287",
    "KR_6959525589",
    "KR_6908234145",
    "KR_6932045276",
    "KR_6989800398",
    "KR_6973475765",
    "KR_6919176851",
    "KR_6930061690",
    "KR_6949132608",
    "KR_6986305074",
    "KR_6986870071",
    "KR_6749874938",
    "KR_6911108539",
    "KR_6949084426",
    "KR_6909149627",
    "KR_6968580712",
    "KR_6922604215",
    "KR_6878093211",
    "KR_6984544508",
    "KR_6945579261",
    "KR_6819224268",
    "KR_6981856644",
    "KR_6969246907",
    "KR_6820800743",
    "KR_6923836083",
    "KR_6549761285",
    "KR_6968826658",
    "KR_6935584432",
    "KR_6988134519",
    "KR_6779570345",
    "KR_6986595561",
    "KR_6956882874",
    "KR_6961319750",
    "KR_6617836335",
    "KR_6950995231",
    "KR_6904901662",
    "KR_6933789998",
    "KR_6979826555",
    "KR_6974661213",
    "KR_6835286023",
    "KR_6972524012",
    "KR_6986757531",
    "KR_6955408544",
    "KR_6943632875",
    "KR_6991574731",
    "KR_6937622325",
    "KR_6876659182",
    "KR_6988486047",
    "KR_6992134374",
    "KR_6884147693",
    "KR_6909662696",
    "KR_6964573772",
    "KR_6906346122",
    "KR_6966414205",
    "KR_6973575922",
    "KR_6898910291",
    "KR_5930648311",
    "KR_6993416240",
    "KR_6984504214",
    "KR_6946234275",
    "KR_6977994145",
    "KR_6977795569",
    "KR_6679988063",
    "KR_6971761823",
    "KR_6864462213",
    "KR_6994979352",
    "KR_6744630152",
    "KR_6857258674",
    "KR_6969134914",
    "KR_6978946197",
    "KR_6919967633",
    "KR_6981853288",
    "KR_6985934786",
    "KR_6780632372",
    "KR_6952224818",
    "KR_6912249500",
    "KR_6966531804",
    "KR_6937586411",
    "KR_6890146580",
    "KR_6986429061",
    "KR_6668597182",
    "KR_6981991029",
    "KR_6956877103",
    "KR_6964627471",
    "KR_6921339334",
    "KR_6973230618",
    "KR_6863114183",
    "KR_6980418077",
    "KR_6967213888",
    "KR_6961226279",
    "KR_6654208256"
]

빈 데이터프레임 생성

In [4]:
match15 = pd.DataFrame()
match15['matchid'] = None
match15['team100buildingkill'] = None
match15['team200buildingkill'] = None
match15['team100wardplaced'] = None
match15['team200wardplaced'] = None
match15['team100wardkill'] = None
match15['team200wardkill'] = None
for i in range(1,11):
    match15[f'player{i}totaldamage'] = None
for i in range(1,11):
    match15[f'player{i}totaldamage'] = None
for i in range(1,11):
    match15[f'player{i}physicaldamage'] = None
for i in range(1,11):
    match15[f'player{i}magicdamage'] = None
match15['winteam'] = None

In [5]:
match15

Empty DataFrame
Columns: [matchid, team100buildingkill, team200buildingkill, team100wardplaced, team200wardplaced, team100wardkill, team200wardkill, player1totaldamage, player2totaldamage, player3totaldamage, player4totaldamage, player5totaldamage, player6totaldamage, player7totaldamage, player8totaldamage, player9totaldamage, player10totaldamage, player1physicaldamage, player2physicaldamage, player3physicaldamage, player4physicaldamage, player5physicaldamage, player6physicaldamage, player7physicaldamage, player8physicaldamage, player9physicaldamage, player10physicaldamage, player1magicdamage, player2magicdamage, player3magicdamage, player4magicdamage, player5magicdamage, player6magicdamage, player7magicdamage, player8magicdamage, player9magicdamage, player10magicdamage, winteam]
Index: []

[0 rows x 38 columns]

반복문 작성

In [6]:
for i in range(len(matchids)):
    try:
        matchtime = 'https://asia.api.riotgames.com/lol/match/v5/matches/' + matchids[i] + '/timeline?api_key=' + api_key 
        r = requests.get(matchtime)
        match = 'https://asia.api.riotgames.com/lol/match/v5/matches/' + matchids[i] + '?api_key=' + api_key
        j = requests.get(match)
    
        while r.status_code == 429:
            time.sleep(5)
            matchtime = 'https://asia.api.riotgames.com/lol/match/v5/matches/' + matchids[i] + '/timeline?api_key=' + api_key 
            r = requests.get(matchtime)
            match = 'https://asia.api.riotgames.com/lol/match/v5/matches/' + matchids[i] + '?api_key=' + api_key
            j = requests.get(match)
        
        df_time = pd.DataFrame(r.json())
        df_time = pd.DataFrame(df_time['info']['frames'])
        df_match = pd.DataFrame(j.json())
    
        match15.loc[i,'matchid'] = matchids[i]
    
    ###############################################
    #15분으로 끊기
        df15 = df_time.loc[:15,:]
    
    ###############################################
    #타워 가져오기
    # 'events' 열의 각 딕셔너리에서 'type' 키의 값이 'BUILDING_KILL' 인 딕셔너리 찾기
        building_kill_events = [event for events_list in df15['events'] for event in events_list if 'type' in event and event['type'] == 'BUILDING_KILL' and event['buildingType'] not in ['INHIBITOR_BUILDING']]
    # 'teamId'가 100인 것과 200인 것을 세기 위한 변수 초기화
        team100_count = 0
        team200_count = 0
    # 'teamId'가 100인 것과 200인 것을 세기
        for event in building_kill_events:
            if 'teamId' in event:
                if event['teamId'] == 100:
                    team200_count += 1
                elif event['teamId'] == 200:
                    team100_count += 1
    # 결과를 match15 DataFrame에 할당
        match15.loc[i,'team100buildingkill'] = team100_count
        match15.loc[i,'team200buildingkill'] = team200_count
    
    ###############################################
    #와드 설치
    # 'events' 열의 각 딕셔너리에서 'type' 키의 값이 'BUILDING_KILL' 인 딕셔너리 찾기
        ward_placed_events = [event for events_list in df15['events'] for event in events_list if 'type' in event and event['type'] == 'WARD_PLACED']
    # 'teamId'가 100인 것과 200인 것을 세기 위한 변수 초기화
        team100_ward_placed_count = 0
        team200_ward_placed_count = 0
    # 'teamId'가 100인 것과 200인 것을 세기
        for event in ward_placed_events:
            if 'creatorId' in event:
                if event['creatorId'] in [6,7,8,9,10]:
                    team100_ward_placed_count += 1
                elif event['creatorId'] in [1,2,3,4,5]:
                    team200_ward_placed_count += 1
    # 결과를 match15 DataFrame에 할당
        match15.loc[i,'team100wardplaced'] = team100_ward_placed_count
        match15.loc[i,'team200wardplaced'] = team200_ward_placed_count
    
    ###############################################
    #와드 제거
    # 'events' 열의 각 딕셔너리에서 'type' 키의 값이 'BUILDING_KILL' 인 딕셔너리 찾기
        ward_kill_events = [event for events_list in df15['events'] for event in events_list if 'type' in event and event['type'] == 'WARD_KILL']
    # 'teamId'가 100인 것과 200인 것을 세기 위한 변수 초기화
        team100_ward_kill_count = 0
        team200_ward_kill_count = 0
    # 'teamId'가 100인 것과 200인 것을 세기
        for event in ward_kill_events:
            if 'killerId' in event:
                if event['killerId'] in [6,7,8,9,10]:
                    team100_ward_kill_count += 1
                elif event['killerId'] in [1,2,3,4,5]:
                    team200_ward_kill_count += 1
    # 결과를 match15 DataFrame에 할당
        match15.loc[i,'team100wardkill'] = team100_ward_kill_count
        match15.loc[i,'team200wardkill'] = team200_ward_kill_count
    
    ###############################################
    #총딜량
    # 각 플레이어의 totalDamageDoneToChampions 값을 누적할 리스트 초기화
        total_damage_list = [[] for _ in range(10)]
    # 각 플레이어의 totalDamageDoneToChampions 값을 누적
        for idx in range(1, 11):  # 1부터 10까지의 인덱스를 순회
            total_damage_list[idx-1].append(df15['participantFrames'][15][str(idx)]['damageStats']['totalDamageDoneToChampions'])
    # 리스트에 저장된 값을 합산하여 match15 DataFrame에 열 추가
        for idx, total_damage in enumerate(total_damage_list, start=1):
            match15.loc[i,f'player{idx}totaldamage'] = sum(total_damage)
    
    ###############################################
    #물리뎀
    # 각 플레이어의 totalDamageDoneToChampions 값을 누적할 리스트 초기화
        physical_damage_list = [[] for _ in range(10)]
    # 각 플레이어의 totalDamageDoneToChampions 값을 누적
        for idx in range(1, 11):  # 1부터 10까지의 인덱스를 순회
            physical_damage_list[idx-1].append(df15['participantFrames'][15][str(idx)]['damageStats']['physicalDamageDoneToChampions'])
    # 리스트에 저장된 값을 합산하여 match15 DataFrame에 열 추가
        for idx, physical_damage in enumerate(physical_damage_list, start=1):
            match15.loc[i,f'player{idx}physicaldamage'] = sum(physical_damage)
        
    ###############################################
    #마법뎀
    # 각 플레이어의 totalDamageDoneToChampions 값을 누적할 리스트 초기화
        magic_damage_list = [[] for _ in range(10)]
    # 각 플레이어의 totalDamageDoneToChampions 값을 누적
        for idx in range(1, 11):  # 1부터 10까지의 인덱스를 순회
                magic_damage_list[idx-1].append(df15['participantFrames'][15][str(idx)]['damageStats']['magicDamageDoneToChampions'])
    # 리스트에 저장된 값을 합산하여 match15 DataFrame에 열 추가
        for idx, magic_damage in enumerate(magic_damage_list, start=1):
            match15.loc[i, f'player{idx}magicdamage'] = sum(magic_damage)
    
    ###############################################
    #승패
        teams_df=pd.DataFrame(df_match['info']['teams'])
        match15.loc[i,'winteam'] = [teams_df.loc[teams_df['win'], 'teamId'].values[0]]
        
        print(i , 'done')
        
    except Exception as e:
        print(i, f"Error occurred for matchid {matchids[i]}: {e}")
        pass

0 done
1 done
2 done
3 done
4 done
5 done
6 done
7 done
8 done
9 done
10 done
11 done
12 done
13 done
14 done
15 done
16 done
17 done
18 done
19 done
20 done
21 done
22 done
23 done
24 done
25 done
26 done
27 done
28 done
29 done
30 done
31 done
32 done
33 done
34 done
35 done
36 done
37 done
38 done
39 done
40 done
41 done
42 done
43 done
44 done
45 done
46 done
47 done
48 done
49 done
50 done
51 done
52 done
53 done
54 done
55 done
56 done
57 done
58 done
59 done
60 done
61 done
62 done
63 done
64 done
65 Error occurred for matchid KR_5930648311: 'info'
66 done
67 done
68 done
69 Error occurred for matchid KR_6977994145: 15
70 done
71 done
72 done
73 done
74 done
75 done
76 done
77 done
78 done
79 done
80 Error occurred for matchid KR_6981853288: 'info'
81 Error occurred for matchid KR_6985934786: 'info'
82 Error occurred for matchid KR_6780632372: 'info'
83 done
84 Error occurred for matchid KR_6912249500: 'info'
85 Error occurred for matchid KR_6966531804: 'info'
86 Error occurred for matchid KR_6937586411: 'info'
87 done
88 Error occurred for matchid KR_6986429061: 'info'
89 Error occurred for matchid KR_6668597182: 'info'
90 done
91 Error occurred for matchid KR_6956877103: 'info'
92 done
93 done
94 done
95 done
96 done
97 Error occurred for matchid KR_6967213888: 'info'
98 Error occurred for matchid KR_6961226279: 'info'
99 done

In [7]:
match15

,matchid,team100buildingkill,team200buildingkill,team100wardplaced,team200wardplaced,team100wardkill,team200wardkill,player1totaldamage,player2totaldamage,player3totaldamage,...,player2magicdamage,player3magicdamage,player4magicdamage,player5magicdamage,player6magicdamage,player7magicdamage,player8magicdamage,player9magicdamage,player10magicdamage,winteam
0,KR_6965278983,0,1,33,45,14,7,10506,3884,1954,...,2855,489,0,3382,8017,1577,4515,1453,4965,[100]
1,KR_6961163006,1,0,35,26,8,5,12436,3030,12012,...,0,1950,723,4491,2548,4958,4583,2889,6351,[100]
2,KR_6990258458,0,0,38,29,8,19,7347,5234,6597,...,1518,4227,1143,3292,2894,219,5690,579,278,[200]
3,KR_6991192961,0,0,167,25,3,7,2716,6408,7573,...,476,5997,818,2044,446,2439,4744,0,1545,[100]
4,KR_6987828402,1,1,24,59,7,9,4722,4598,7043,...,4008,1384,1270,1326,5847,562,6563,191,1803,[100]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,KR_6973230618,0,1,57,298,11,6,8880,2345,5024,...,1987,4808,336,101,903,512,4418,412,0,[200]
95,KR_6863114183,3,0,30,28,6,12,9234,4622,10210,...,668,8295,1508,0,4040,176,0,0,3200,[100]
96,KR_6980418077,8,0,30,36,4,5,6190,4385,6359,...,776,655,1505,7508,8171,224,2689,130,2189,[100]
98,KR_6961226279,0,3,58,28,12,9,6348,3366,7382,...,102,6248,179,5383,1853,8239,471,1180,4264,NaN
99,KR_6654208256,2,0,20,24,4,4,8374,6405,6731,...,994,6161,1932,5992,1069,517,3812,914,10403,[100]

저장

In [8]:
match15.to_csv('C:/동국대학교/비어플/24_1학기_프로젝트_롤/match100개.csv')