# 챔피언 별 티어분류

### championName 1 / line 1 리스트 만들기 
### 1티어 5점 2티어 4점 3티어 3점 4티어 2점 5티어 1점 속하지않으면 1점

In [1]:
import pandas as pd

In [2]:
match=pd.read_csv('dataframe1.csv')

In [3]:
match.head()

,matchid,championName_100_1,championName_100_2,championName_100_3,championName_100_4,championName_100_5,championName_200_6,championName_200_7,championName_200_8,championName_200_9,...,player1_KDA,player2_KDA,player3_KDA,player4_KDA,player5_KDA,player6_KDA,player7_KDA,player8_KDA,player9_KDA,player10_KDA
0,KR_6965278983,Teemo,Ekko,Tristana,Nilah,Maokai,Ryze,LeeSin,TwistedFate,Ezreal,...,1.2,0.0,0.0,13.2,0.0,4.8,28.8,3.6,13.2,1.2
1,KR_6961163006,Mordekaiser,Vi,Irelia,Smolder,Lux,Volibear,Ekko,Galio,Ezreal,...,3.6,0.0,18.0,8.4,0.0,1.2,14.4,1.2,14.4,25.2
2,KR_6990258458,XinZhao,Volibear,Ahri,Smolder,Braum,Kayle,Nocturne,AurelionSol,Jinx,...,2.4,8.4,6.0,2.4,8.4,3.6,10.8,24.0,8.4,4.8
3,KR_6987828402,Gangplank,Nidalee,Tristana,Varus,Lulu,Karma,MonkeyKing,Brand,Jinx,...,2.4,7.2,8.4,9.6,3.6,3.6,6.0,1.2,3.6,0.0
4,KR_6985798489,Darius,Shaco,Ahri,Jinx,Bard,Garen,Vi,Hwei,KogMaw,...,1.2,3.6,0.0,3.6,3.6,3.6,2.4,7.2,12.0,6.0

## top

In [4]:
match.iloc[:,1:21]

,championName_100_1,championName_100_2,championName_100_3,championName_100_4,championName_100_5,championName_200_6,championName_200_7,championName_200_8,championName_200_9,championName_200_10,teamPosition_100_1,teamPosition_100_2,teamPosition_100_3,teamPosition_100_4,teamPosition_100_5,teamPosition_200_6,teamPosition_200_7,teamPosition_200_8,teamPosition_200_9,teamPosition_200_10
0,Teemo,Ekko,Tristana,Nilah,Maokai,Ryze,LeeSin,TwistedFate,Ezreal,Karma,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
1,Mordekaiser,Vi,Irelia,Smolder,Lux,Volibear,Ekko,Galio,Ezreal,Zoe,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
2,XinZhao,Volibear,Ahri,Smolder,Braum,Kayle,Nocturne,AurelionSol,Jinx,Camille,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
3,Gangplank,Nidalee,Tristana,Varus,Lulu,Karma,MonkeyKing,Brand,Jinx,Maokai,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
4,Darius,Shaco,Ahri,Jinx,Bard,Garen,Vi,Hwei,KogMaw,Lulu,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37875,Illaoi,Ivern,Syndra,Jinx,Sett,Darius,Graves,Neeko,Ashe,Thresh,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37876,Karthus,Singed,Aatrox,Tristana,Nautilus,Sett,Khazix,Taliyah,Xayah,Leona,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37877,Gragas,Graves,Yone,Jhin,Xerath,Yasuo,Brand,Hwei,Draven,Blitzcrank,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37878,Renekton,Lillia,Akali,Ezreal,Swain,Aatrox,Brand,Yone,Zeri,Lulu,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37879,Gnar,Sylas,Zed,MissFortune,Soraka,Gwen,Viego,Talon,Ezreal,Senna,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY

In [5]:
match.iloc[:,11:21]

,teamPosition_100_1,teamPosition_100_2,teamPosition_100_3,teamPosition_100_4,teamPosition_100_5,teamPosition_200_6,teamPosition_200_7,teamPosition_200_8,teamPosition_200_9,teamPosition_200_10
0,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
1,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
2,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
3,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
4,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
...,...,...,...,...,...,...,...,...,...,...
37875,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37876,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37877,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37878,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY
37879,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY,TOP,JUNGLE,MIDDLE,BOTTOM,UTILITY

## 챔피언이랑 포지션이랑 묶어서 딕셔너리 만들기

In [6]:
match['champosition'] = None  # 새로운 열을 None으로 초기화

for i in range(len(match)):
    champositions = {}  # 각 행의 챔피언과 포지션을 담을 딕셔너리 초기화
    champo = {}  # 각 행의 챔피언과 포지션을 담을 딕셔너리 초기화
    for j in range(1, 6):  # 1부터 5까지 (포지션은 1부터 5까지)
        champion = match.iloc[i, j]  # 챔피언 이름
        position = match.iloc[i, j + 10]  # 챔피언의 포지션
        champo[f'champion{j}'] = champion  # 챔피언 이름을 딕셔너리에 추가
        champo[f'position{j}'] = position  # 챔피언 포지션을 딕셔너리에 추가
        champositions[position] = champion  # 포지션을 키로 사용하여 챔피언을 추가
    
    match.at[i, 'champosition'] = champositions  # 각 행의 'champosition' 열에 딕셔너리 할당

In [7]:
match['champosition'][0]

{'TOP': 'Teemo',
 'JUNGLE': 'Ekko',
 'MIDDLE': 'Tristana',
 'BOTTOM': 'Nilah',
 'UTILITY': 'Maokai'}

In [8]:
#team200 
match['champosition2'] = None  # 새로운 열을 None으로 초기화

for i in range(len(match)):
    champositions = {}  # 각 행의 챔피언과 포지션을 담을 딕셔너리 초기화
    champo = {}  # 각 행의 챔피언과 포지션을 담을 딕셔너리 초기화
    for j in range(6, 11):  # 1부터 5까지 (포지션은 1부터 5까지)
        champion = match.iloc[i, j]  # 챔피언 이름
        position = match.iloc[i, j + 10]  # 챔피언의 포지션
        champo[f'champion{j}'] = champion  # 챔피언 이름을 딕셔너리에 추가
        champo[f'position{j}'] = position  # 챔피언 포지션을 딕셔너리에 추가
        champositions[position] = champion  # 포지션을 키로 사용하여 챔피언을 추가
    
    match.at[i, 'champosition2'] = champositions  # 각 행의 'champosition' 열에 딕셔너리 할당

In [9]:
match['champosition2'][0]

{'TOP': 'Ryze',
 'JUNGLE': 'LeeSin',
 'MIDDLE': 'TwistedFate',
 'BOTTOM': 'Ezreal',
 'UTILITY': 'Karma'}

## 티어 스코어 만들기

In [10]:
Top_tier_1 = ['Malphite','Garen','Darius','Sett','Urgot','RekSai','Mordekaiser']
Top_tier_2 = ['Kayle','Trundle','Aatrox','Zac','Renekton','DrMundo','Fiora','Olaf','TahmKench','Gragas'
              ,'Volibear','Illaoi']
Top_tier_3 = ['Yone','Teemo','Jax','Quinn','Kled','Shen','Irelia','Yorick','Jayce','Singed',
              'Ornn']
Top_tier_4 = ['Tryndamere','MonkeyKing','Vayne','Nasus','Riven','Cassiopeia','Warwick','Gangplank'
              ,'Camille','Gwen','Poppy','TwistedFate','Gnar','Chogath','Sion','Pantheon','Akshan'
              ,'Rumble']
Top_tier_5 = ['Akali','Yasuo','Karma','Rengar','Udyr','Kennen','KSante','Vladimir','Heimerdinger'
             ,'Sylas','Smolder']

In [11]:
JG_tier_1 = ['Volibear','Briar','MasterYi','Viego','Diana','Shaco']
JG_tier_2 = ['Brand','Warwick','Rammus','Zac','RekSai','LeeSin','Khazix','Vi','Belveth'
             ,'Nocturne','Ivern','Evelynn','XinZhao']
JG_tier_3 = ['Ekko','Taliyah','Lillia','Kindred','FiddleSticks','Jax','JarvanIV','Nidalee'
            ,'Karthus','Amumu','MonkeyKing','Gragas','Elise','Udyr','Hecarim','Kayn']
JG_tier_4 = ['Graves','Nunu','Rengar','Poppy','Shyvana','Rumble']
JG_tier_5 = ['Gwen','Talon','Trundle','Sejuani','Zed','Skarner','Maokai']

In [12]:
Mid_tier_1 = ['Ahri','AurelionSol']
Mid_tier_2 = ['Kassadin','Diana','Veigar','Sylas','Anivia','Katarina','Yone','Annie','Zed'
             ,'Taliyah','TwistedFate','Yasuo','Naafiri','Vex','Akshan','Lux','Cassiopeia'
             ,'Akali','Fizz','Irelia','Hwei','Xerath','Ekko','Viktor']
Mid_tier_3 = ['Brand','Swain','Karma','Syndra','Rumble','Vladimir','Malzahar','Renekton'
             ,'Tristana','Lissandra','Gragas','Neeko','Talon','Jayce','Qiyana','Malphite']
Mid_tier_4 = ['Velkoz','Pantheon','Orianna','Azir','Zoe','Leblanc','Galio']
Mid_tier_5 = ['Gangplank','Ryze','Ziggs','Corki','Smolder']

In [13]:
AD_tier_1 = ['Jinx','Twitch','KogMaw','Nilah','Ashe','Caitlyn','Jhin','Lucian']
AD_tier_2 = ['Kaisa','Vayne','Sivir','Ezreal','MissFortune','Samira']
AD_tier_3 = ['Draven','Tristana','Aphelios']
AD_tier_4 = ['Yasuo','Xayah','Smolder','Senna','Varus','Veigar','Seraphine','Ziggs']
AD_tier_5 = ['Kalista','TwistedFate']

In [14]:
Sup_tier_1 = ['Janna','Blitzcrank']
Sup_tier_2 = ['Zyra','Lulu','Thresh','Leona','Pyke','Milio','Braum','Brand','Lux','Rakan','Soraka'
             ,'Nami','Morgana']
Sup_tier_3 = ['Zilean','Camille','Nautilus','Maokai','Senna','Taric','Shaco','Xerath','Velkoz'
             ,'Bard','Rell','Alistar','Seraphine','Yummi','Renata','Karma','Zac','Sona','Pantheon']
Sup_tier_4 = ['Poppy','Neeko','TahmKench','Swain','FiddleSticks','Teemo','Hwei','Ashe','Shen']
Sup_tier_5 = ['Heimerdinger','Twitch']

In [15]:
# team 100 티어 스코어 열 만들기
match['team100_TOP_tier'] = None
match['team100_JG_tier'] = None
match['team100_Mid_tier'] = None
match['team100_AD_tier'] = None
match['team100_Sup_tier'] = None

tier_lists = [Top_tier_1, Top_tier_2, Top_tier_3, Top_tier_4, Top_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition'][i]['TOP'] in tier_list:
            match.at[i, f'team100_TOP_tier'] = 6 - j
            break
    else:
        match.at[i, 'team100_TOP_tier'] = 1

In [16]:
tier_lists = [JG_tier_1, JG_tier_2, JG_tier_3, JG_tier_4, JG_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition'][i]['JUNGLE'] in tier_list:
            match.at[i, f'team100_JG_tier'] = 6 - j
            break
    else:
        match.at[i, 'team100_JG_tier'] = 1

In [17]:
tier_lists = [Mid_tier_1, Mid_tier_2, Mid_tier_3, Mid_tier_4, Mid_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition'][i]['MIDDLE'] in tier_list:
            match.at[i, f'team100_Mid_tier'] = 6 - j
            break
    else:
        match.at[i, 'team100_Mid_tier'] = 1

In [18]:
tier_lists = [AD_tier_1, AD_tier_2, AD_tier_3, AD_tier_4, AD_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition'][i]['BOTTOM'] in tier_list:
            match.at[i, f'team100_AD_tier'] = 6 - j
            break
    else:
        match.at[i, 'team100_AD_tier'] = 1

In [19]:
tier_lists = [Sup_tier_1, Sup_tier_2, Sup_tier_3, Sup_tier_4, Sup_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition'][i]['UTILITY'] in tier_list:
            match.at[i, f'team100_Sup_tier'] = 6 - j
            break
    else:
        match.at[i, 'team100_Sup_tier'] = 1

## team 200 티어 스코어 만들기

In [20]:
# team 100 티어 스코어 열 만들기
match['team200_TOP_tier'] = None
match['team200_JG_tier'] = None
match['team200_Mid_tier'] = None
match['team200_AD_tier'] = None
match['team200_Sup_tier'] = None

tier_lists = [Top_tier_1, Top_tier_2, Top_tier_3, Top_tier_4, Top_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition2'][i]['TOP'] in tier_list:
            match.at[i, f'team200_TOP_tier'] = 6 - j
            break
    else:
        match.at[i, 'team200_TOP_tier'] = 1

In [21]:
tier_lists = [JG_tier_1, JG_tier_2, JG_tier_3, JG_tier_4, JG_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition2'][i]['JUNGLE'] in tier_list:
            match.at[i, f'team200_JG_tier'] = 6 - j
            break
    else:
        match.at[i, 'team200_JG_tier'] = 1

In [22]:
tier_lists = [Mid_tier_1, Mid_tier_2, Mid_tier_3, Mid_tier_4, Mid_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition2'][i]['MIDDLE'] in tier_list:
            match.at[i, f'team200_Mid_tier'] = 6 - j
            break
    else:
        match.at[i, 'team200_Mid_tier'] = 1

In [23]:
tier_lists = [AD_tier_1, AD_tier_2, AD_tier_3, AD_tier_4, AD_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition2'][i]['BOTTOM'] in tier_list:
            match.at[i, f'team200_AD_tier'] = 6 - j
            break
    else:
        match.at[i, 'team200_AD_tier'] = 1

In [24]:
tier_lists = [Sup_tier_1, Sup_tier_2, Sup_tier_3, Sup_tier_4, Sup_tier_5]

for i in range(len(match)): 
    for j, tier_list in enumerate(tier_lists, start=1):
        if match['champosition2'][i]['UTILITY'] in tier_list:
            match.at[i, f'team200_Sup_tier'] = 6 - j
            break
    else:
        match.at[i, 'team200_Sup_tier'] = 1

In [26]:
# 최종 데이터 프레임 확인 
fin=match.iloc[:,148:158]

In [27]:
fin.to_csv('tierdata.csv', index=False)